{% extends 'base.html' %}

{% block title %}
  EDIT - {{ event.title }} - Eventify
{% endblock %}

{% block body %}
  <div class="min-h-[75dvh] flex flex-col justify-center items-center max-w-[1000px] w-[95%] mx-auto">
    <h1 class="text-4xl font-extrabold leading-none mt-8 mb-14 tracking-tight max-w-[60ch] mx-auto md:text-5xl lg:text-6xl">Edit Event - Eventify</h1>
    <form class="mb-5 flex flex-col justify-start items-start gap-4 w-full [&_>*]:w-full" action="{% url 'events:edit_event' event.pk %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div>
        <label for="id_title">Title:</label>
        {{ form.title }}
        {% if form.title.errors %}
          <div class="text-error">{{ form.title.errors }}</div>
        {% endif %}
      </div>
      <div>
        <label for="id_description">Description:</label>
        {{ form.description }}
        {% if form.description.errors %}
          <div class="text-error">{{ form.description.errors }}</div>
        {% endif %}
      </div>
      <div>
        <label for="id_location">location:</label>
        {{ form.location }}
        {% if form.location.errors %}
          <div class="text-error">{{ form.location.errors }}</div>
        {% endif %}
      </div>
      <div>
        <label for="id_start_time">Start Time:</label>
        {{ form.start_time }}
        {% if form.start_time.errors %}
          <div class="text-error">{{ form.start_time.errors }}</div>
        {% endif %}
      </div>
      <div>
        <label for="id_image">image:</label>
        {{ form.image }}
        {% if form.image.errors %}
          <div class="text-error">{{ form.image.errors }}</div>
        {% endif %}
      </div>
      <p>
        <button type="submit" class="btn w-fit btn-primary">Save</button>
      </p>
    </form>
  </div>
{% endblock %}
