{% extends 'base.html' %}

{% block title %}
  Register - Eventify
{% endblock %}

{% block body %}
  <div class="min-h-[75dvh] flex flex-col justify-center items-center max-w-[1000px] w-[95%] mx-auto">
    <h1 class="text-4xl font-extrabold leading-none mt-8 mb-14 tracking-tight max-w-[60ch] mx-auto md:text-5xl lg:text-6xl">
      Register - Eventify
    </h1>

    <form class="mb-5 flex flex-col justify-start items-start gap-4 w-full [&_>*]:w-full"
          action="{% url 'authentication:register' %}"
          method="post"
          enctype="multipart/form-data">
      {% csrf_token %}

      <!-- Name -->
      <div>
        <label for="{{ form.name.id_for_label }}">Name:</label>
        {{ form.name }}
        {% if form.name.errors %}
          <div class="text-error">{{ form.name.errors }}</div>
        {% endif %}
      </div>

      <!-- Username -->
      <div>
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
        {% if form.username.errors %}
          <div class="text-error">{{ form.username.errors }}</div>
        {% endif %}
      </div>

      <!-- Email -->
      <div>
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
        {% if form.email.errors %}
          <div class="text-error">{{ form.email.errors }}</div>
        {% endif %}
      </div>

      <!-- Password -->
      <div>
        <label for="{{ form.password1.id_for_label }}">Password:</label>
        {{ form.password1 }}
        {% if form.password1.errors %}
          <div class="text-error">{{ form.password1.errors }}</div>
        {% endif %}
      </div>

      <!-- Confirm Password -->
      <div>
        <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
        {{ form.password2 }}
        {% if form.password2.errors %}
          <div class="text-error">{{ form.password2.errors }}</div>
        {% endif %}
      </div>

      <!-- Profile Picture -->
      <div>
        <label for="{{ form.profile_pic.id_for_label }}" class="block mb-2">Profile Pic:</label>
        {{ form.profile_pic }}
        {% if form.profile_pic.errors %}
          <div class="text-error">{{ form.profile_pic.errors }}</div>
        {% endif %}
      </div>

      <!-- Submit -->
      <p>
        <button type="submit" class="mt-1 btn w-fit btn-primary">Submit</button>
      </p>
    </form>

    <!-- Login link -->
    <p class="mb-16 text-start w-full">
      Already have an account?
      <a href="{% url 'authentication:login' %}" class="text-primary font-semibold hover:underline">Login here</a>.
    </p>
  </div>
{% endblock %}
    